<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.dao.CommisionConfigurationMapper">

	<resultMap id="BaseResultMap" type="com.market.domain.CommisionConfiguration">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="target_type" jdbcType="SMALLINT" property="targetType" />
		<result column="target_id" jdbcType="VARCHAR" property="targetId" />
		<result column="calculate_type" jdbcType="SMALLINT" property="calculateType" />
		<result column="calculate_value" jdbcType="DOUBLE" property="calculateValue" />
		<result column="goods_id" jdbcType="OTHER" property="goodsId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="is_deleted" jdbcType="BIT" property="isDeleted" />
		<result column="min_sales" jdbcType="INTEGER" property="minSales" />
		<result column="max_sales" jdbcType="INTEGER" property="maxSales" />
		<result column="sales_type" jdbcType="SMALLINT" property="salesType" />
	</resultMap>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		update commision_configuration
		set is_deleted = true
		where id = #{id,jdbcType=VARCHAR}::uuid
	</delete>
	<insert id="insert" parameterType="com.market.domain.CommisionConfiguration">
		insert into
		commision_configuration (id, target_type, target_id,
		calculate_type,
		calculate_value, goods_id,
		create_time, create_by, update_time,
		update_by, is_deleted, min_sales,
		max_sales, sales_type)
		values
		(#{id,jdbcType=VARCHAR}::uuid, #{targetType,jdbcType=SMALLINT},
		#{targetId,jdbcType=VARCHAR}::uuid,
		#{calculateType,jdbcType=SMALLINT}, #{calculateValue,jdbcType=DOUBLE},
		#{goodsId,jdbcType=OTHER}::uuid,
		#{createTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT},
		#{minSales,jdbcType=INTEGER},
		#{maxSales,jdbcType=INTEGER},#{salesType,jdbcType=SMALLINT})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.market.domain.CommisionConfiguration">
		update
		commision_configuration
		set target_type =
		#{targetType,jdbcType=SMALLINT},
		target_id =
		#{targetId,jdbcType=VARCHAR}::uuid,
		calculate_type =
		#{calculateType,jdbcType=SMALLINT},
		calculate_value =
		#{calculateValue,jdbcType=DOUBLE},
		goods_id =
		#{goodsId,jdbcType=OTHER}::uuid,
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		create_by =
		#{createBy,jdbcType=VARCHAR},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		update_by =
		#{updateBy,jdbcType=VARCHAR},
		is_deleted = #{isDeleted,jdbcType=BIT},
		min_sales = #{minSales,jdbcType=INTEGER},
		max_sales =
		#{maxSales,jdbcType=INTEGER},
		sales_type =
		#{salesType,jdbcType=SMALLINT}
		where id = #{id,jdbcType=VARCHAR}::uuid
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select *
		from commision_configuration
		where id =
		#{id,jdbcType=VARCHAR}::uuid
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select *
		from
		commision_configuration
	</select>

	<select id="selectMany" resultMap="BaseResultMap">
		select *
		from commision_configuration
		where is_deleted != true
		<if test="goodsId != null and goodsId != ''">
			and goods_id = #{goodsId}::uuid
		</if>
		<if test="targetType != 0">
			and target_type = #{targetType}
		</if>
		<if test="targetId != null and targetId != ''">
			and target_id = #{targetId}::uuid
		</if>
		<choose>
			<when test="orderby != null and orderby != ''">
				order by #{orderby}
			</when>
			<otherwise>
				order by create_time desc
			</otherwise>
		</choose>
	</select>

	<select id="selectManyCount" resultType="java.lang.Integer">
		select count(*)
		from commision_configuration
		where is_deleted != true
		<if test="goodsId != null and goodsId != ''">
			and goods_id = #{goodsId}::uuid
		</if>
		<if test="targetType != 0">
			and target_type = #{targetType}
		</if>
		<if test="targetId != null and targetId != ''">
			and target_id = #{targetId}::uuid
		</if>
	</select>

</mapper>