<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.dao.CommisionRecordMapper">

  <resultMap id="BaseResultMap" type="com.market.domain.CommisionRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="applicant_type" jdbcType="SMALLINT" property="applicantType" />
    <result column="applicant_id" jdbcType="VARCHAR" property="applicationId" />
    <result column="number" jdbcType="DOUBLE" property="number" />
    <result column="order_detail_id" jdbcType="VARCHAR" property="orderDetailId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from commision_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.market.domain.CommisionRecord">
    insert into commision_record (id, applicant_type, applicant_id, 
      number, order_detail_id, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{applicantType,jdbcType=SMALLINT}, #{applicationId,jdbcType=VARCHAR}, 
      #{number,jdbcType=DOUBLE}, #{orderDetailId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.market.domain.CommisionRecord">
    update commision_record
    set applicant_type = #{applicantType,jdbcType=SMALLINT},
      applicant_id = #{applicationId,jdbcType=VARCHAR},
      number = #{number,jdbcType=DOUBLE},
      order_detail_id = #{orderDetailId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, applicant_type, applicant_id, number, order_detail_id, create_time
    from commision_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, applicant_type, applicant_id, number, order_detail_id, create_time
    from commision_record
  </select>
  
  <!-- 分页 -->
  <select id="selectMany" resultMap="BaseResultMap">
  	select * 
	from commision_record 
	where applicant_type = #{applicantType} and applicant_id = #{applicantId}::uuid 
  	<choose>
	  	<when test="orderby != null and orderby != ''">
	  		order by #{orderby} 
	  	</when>
	  	<otherwise>
	  		order by create_time desc 
	  	</otherwise>
  	</choose>
  	<if test="pageIndex != null and pageSize != null">
  		limit #{pageSize} offset (#{pageIndex}-1)*#{pageSize} 
  	</if>
  </select>
  
  <select id="selectManyCount" resultType="java.lang.Integer">
  	select count(*) from commision_record 
  	where applicant_type = #{applicantType} and applicant_id = #{applicantId}::uuid 
  </select>
  
</mapper>