<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.dao.CustomerMapper">

	<resultMap id="BaseResultMap" type="com.market.domain.Customer">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="user_id" jdbcType="OTHER" property="userId" />
		<result column="sales_id" jdbcType="VARCHAR" property="salesId" />
		<result column="set_sales_time" jdbcType="TIMESTAMP" property="setSalesTime" />
	</resultMap>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from customer
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.market.domain.Customer">
		insert into customer (id, name, user_id,
		create_time, sales_id, set_sales_time)
		values
		(#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{userId,jdbcType=OTHER},
		#{createTime,jdbcType=TIMESTAMP},
		#{salesId,jdbcType=VARCHAR},
		#{setSalesTime,jdbcType=TIMESTAMP})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.market.domain.Customer">
		update customer
		set name = #{name,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=OTHER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		sales_id = #{salesId,jdbcType=VARCHAR},
		set_sales_time = #{setSalesTime,jdbcType=VARCHAR},
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select *
		from customer
		where id =
		#{id,jdbcType=VARCHAR}::uuid
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select *
		from customer 
		where true
		<if test="salesId != null and salesId != ''">
			sales_id = #{salesId}::uuid
		</if>
		<choose>
			<when test="orderby != null and orderby != ''">
				order by #{orderby}
			</when>
			<otherwise>
				order by create_time desc
			</otherwise>
		</choose>
	</select>

	<select id="selectMany" resultMap="BaseResultMap">
		select *
		from customer 
		where true
		<if test="salesId != null and salesId != ''">
			and sales_id = #{salesId}::uuid 
		</if>
		<if test="keyword != null and keyword != ''">
			and name CONCAT('%',#{keyword},'%')
		</if>
		<choose>
			<when test="orderby != null and orderby != ''">
				order by #{orderby}
			</when>
			<otherwise>
				order by create_time desc
			</otherwise>
		</choose>
		limit #{pageSize} offset (#{pageIndex}-1)*#{pageSize}
	</select>

	<select id="selectManyCount" resultType="java.lang.Integer">
		select count(*)
		from customer
		<if test="salesId != null and salesId != ''">
			and sales_id = #{salesId}::uuid 
		</if>
		<if test="keyword != null and keyword != ''">
			and name CONCAT('%',#{keyword},'%')
		</if>
	</select>

	<select id="selectInPrimaryKeys" resultMap="BaseResultMap">
		select * 
		from customer
		where "id" in 
		<foreach item="item" index="index" collection="list" open="("  separator="," close=")">
			#{item}::uuid
		</foreach>
		order by create_time desc
	</select>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Mar 31 23:48:33 CST 2017.
    -->
    select id, name, user_id, create_time, sales_id
    from customer
    where user_id = #{userId,jdbcType=VARCHAR}::uuid
  </select>

</mapper>