<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.dao.OrderInfluenceMapper">
  <resultMap id="BaseResultMap" type="com.market.domain.OrderInfluence">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="influence_type" jdbcType="SMALLINT" property="influenceType" />
    <result column="influence_value" jdbcType="DOUBLE" property="influenceValue" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_influence
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.market.domain.OrderInfluence">
    insert into order_influence (id, order_id, influence_type, 
      influence_value)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{influenceType,jdbcType=SMALLINT}, 
      #{influenceValue,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.market.domain.OrderInfluence">
    update order_influence
    set order_id = #{orderId,jdbcType=VARCHAR},
      influence_type = #{influenceType,jdbcType=SMALLINT},
      influence_value = #{influenceValue,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, order_id, influence_type, influence_value
    from order_influence
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, influence_type, influence_value
    from order_influence
  </select>
  <select id="selectByOrderId" resultMap="BaseResultMap">
  	select *
  	from order_influence
  	where order_id = #{orderId}::uuid
  </select>
</mapper>