<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.dao.UserMapper">

  <resultMap id="BaseResultMap" type="com.market.domain.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="wechat_id" jdbcType="VARCHAR" property="wechatId" />
    <result column="wechat_unionid" jdbcType="VARCHAR" property="wechatUnionid" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.market.domain.User">
    insert into user (id, wechat_id, wechat_unionid
      )
    values (#{id,jdbcType=VARCHAR}, #{wechatId,jdbcType=VARCHAR}, #{wechatUnionid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.market.domain.User">
    update user
    set wechat_id = #{wechatId,jdbcType=VARCHAR},
      wechat_unionid = #{wechatUnionid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, wechat_id, wechat_unionid
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, wechat_id, wechat_unionid
    from user
  </select>
  <select id="selectInPrimayKeys" resultMap="BaseResultMap">
  	select *
  	from user
  	where id in
  	<foreach collection="list" item="item" open="(" separator="," close=")">
  		#{item}::uuid
  	</foreach>
  </select>
</mapper>