<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<context:component-scan base-package="com.market.controller" />
	<context:component-scan base-package="com.market.apicontroller" />
	<context:component-scan base-package="com.market.service.impl" />
	<context:component-scan base-package="com.market.dao" />
	<context:component-scan base-package="com.market.dao.impl" />

	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven />

	<mvc:resources mapping="/scripts/**" location="/scripts/" />
	<mvc:resources mapping="/styles/**" location="/styles/" />
	<mvc:resources mapping="/jslib/**" location="/jslib/" />
	<mvc:resources mapping="/*.html" location="/" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<bean id="springContextUtil" class="com.market.utils.SpringContextUtil" />
	<mvc:interceptors>
		<!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->

		<!-- 公司后台登录验证拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/company/**" />
			<mvc:exclude-mapping path="/jslib/**" />
			<mvc:exclude-mapping path="/styles/**" />
			<!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->
			<bean class="com.market.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>